- flash.each do |name, msg|
  section.content-header.auto-dismiss
    - if name.eql?('notice')
      .alert.alert-success
        button type="button" class="close" data-dismiss="alert" aria-label="Close"
          span aria-hidden="true"
            | &times;
        h3 Yehey!
        p= msg
    - if name.eql?('alert')
      .alert.alert-danger
        button type="button" class="close" data-dismiss="alert" aria-label="Close"
          span aria-hidden="true"
            | &times;
        h3 Oops!
        p= msg