.sidebar data-color="green"
  .logo
    a.simple-text href=(admin_root_path) = app_name
  .sidebar-wrapper
    ul.nav
      li
        a href=(admin_courses_path)
          i.fa.fa-fw.fa-book
          p Courses

      li
        a href=(admin_professors_path)
          i.fa.fa-fw.fa-users
          p Professors