nav.navbar.navbar-transparent.navbar-absolute
  .container-fluid
    .navbar-header
      button.navbar-toggle data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to app_name, admin_root_path, class: 'navbar-brand'