.card-header data-background-color='green'
  h4.title Professors
.card-content
  p.text-right
    = link_to 'Add Record', new_admin_professor_path, class: 'btn btn-secondary'

  table.table.table-striped
    thead
      tr
        th Name
        th 

    tbody
      - @objs.each do |obj|
        tr
          td = obj.name
          td
            = link_to 'Edit', edit_admin_professor_path(obj), class: 'btn btn-secondary btn-xs btn-block'
            = link_to 'Delete', admin_professor_path(obj), class: 'btn btn-danger btn-xs btn-block', data: {confirm: "Are you sure?"}, method: :delete