doctype html
html
  head
    meta charset="utf-8" /
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /
    title Payback Time :: Admin
    meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport" /

    = csrf_meta_tags

    link rel="stylesheet" href="https://use.fontawesome.com/releases/5.0.13/css/all.css" crossorigin="anonymous"
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'

  body
    .wrapper
      = render 'admin/shared/side_nav'
      .main-panel
        = render 'admin/shared/top_nav'
        .content
          .container-fluid
            = render 'admin/shared/flash'
            .card
              = yield
    = render 'admin/shared/footer'